.tarefas {
    margin-top: 30px;
}

.tarefas li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    transition: all 600ms;
}

.tarefas li .edit {
    margin-right: -1rem;
    color: #22BABB;
    margin-right: 0rem;
    margin-top: -0.1rem;
    width: 40px;
}

.delete {
    color: #F24405;
    width: 40px;
}

.tarefas li .edit:hover,
.delete:hover,
.form button  {
    cursor: pointer;
}

.tarefas li:hover{
    background-color: #9EF8EE;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
    color: black;
}

.tarefas li div {
    display: flex;
    align-items: center;
}